*{
	padding: 0px;
	margin: 0px;
}

body{
	min-width: 1024px;
	max-width: 1440px;
	font-family: monospace;
	background-color: black;
	text-align: center;
}
.main{	
	width: 80%;
	display:inline-block;
	background-color: white;

}

.presentacion{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gray; 
}

.foto-presentacion{
	width:30%;
	text-align: center;
	padding: 10px;
}

.foto-presentacion img{
	width: 25%;
}

.logo{
	width:70%;
	text-align: center;
	padding: 10px;
}	

.logo img{
	width: 35%;
	color: white;
}

.main2 img{
 width: 50%;
}

.frase{
	text-align: center;
	margin: 40px;
	padding: 25px;
	border: 0.5px solid black;
}

.tendencias{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.destacados{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.slide{
	width: 40%;
	height: 500px;
	overflow: hidden;
	border-radius: 20px;
}

.slider{
	background-color: white;
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
}

.foto{
	width: 100%;
	height: 100%;
}

.foto img{
	width: 100%;
	height: 100%;
}

.flechas{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.flechas img{
	width: 25%;
	background-color: white;
	opacity: 0.5;
	padding: 5px;
	border-radius: 50px;
}

.flechas img:hover{
	background-color: gray;
}

.columna{
	border: 1px solid white;
	background-color: gray;
	display: flex;
	flex-wrap: row;
	justify-content: space-around;
	color: white;
	font-size: 10px; 	 
}

.columna img{
	width: 10%;
	padding: 10px;
}

.caja{
	text-align: center;
}

.caja h2{
	padding: 20px;
	text-align: left;
}

.redes:hover{
	opacity: 0.50;
}


